// Colour Defenitions

$edibundleGreen: #4b5d4c;
$lightButtonHover: #eaf3e9f1;
$bottomMenuBackground: #213b25;
$menuBackgroundColor: #ffffff;

$accountMenuBackground: #f0f0f0;
$accountMenuText: #333333;
$accountMenuBorder: #dadada;
$accountMenuHover: #e2e2e2;
$accountMenuShadow: 0px 0px 5px #dbdbdb;

$contentBackground: #f7f7f7;
$contentShadows: 0px 0px 5px #dbdbdb;
$contentLines: #eaeaea;

$heroTextShadow: rgba(33, 59, 37, 0.5);
