// Fonts
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


// Holds Global CSS Vairables
$menu_width: 220px;
$mainMenuHeight: 4rem;
